<header>
    <nav class="navbar navbar-expand-sm bg-dark-subtle">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../../../favicon.ico" alt="numimastica"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./filatelia.html">Filatelia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./numimastica.html">Numimastica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./bonos.html">Bonos Nacionales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./novedades.html">Novedades</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
